/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #navbar {
        flex-direction: column;
        align-items: center;

    }

    #navbar ul li,
    #navbar .logo {
        flex-direction: column;
        margin-top: 10px;
    }

    #navbar .logo i {
        display: none;
    }

    #showcase .showcase-content h1 {
        font-size: 30px;
    }

    #about {
        padding-left: 20px;
        padding-right: 20px;

    }

    #about .about-text {
        text-align: justify;
    }

    #about .about-img {
        display: none;
    }

    #gallery {
        display: none;
    }

    #garantee {
        flex-direction: column;
    }

    #garantee .garantee-items {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }
} 


/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #navbar {
        flex-direction: column;
        align-items: center;

    }

    #navbar ul li,
    #navbar .logo {
        flex-direction: column;
        margin-top: 10px;
    }

    /*#navbar .logo i {
        display: none;
    }*/

    #about {
        padding-left: 20px;
        padding-right: 20px;
    }

    #about .about-img {
        display: none;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #about {
        padding-left: 20px;
        padding-right: 20px
    }
} 
